@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins/breakpoints.scss';

.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  @include medium {
    background-color: $third;
    border-radius: 10px;
    padding: 7px 16px;
    transition: all 0.3s;
    margin-left: 53px;

    &.active {
      border-radius: 10px 10px 0 0;
    }
  }

  &__name {
    margin: 0 13px;
    font-size: 18px;
    line-height: 1.5;
    color: $secondary;
  }

  &__arrow {
    display: inline-block;
    border: solid $secondary;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
  }

  &.active &__arrow {
    transform: rotate(-135deg);
  }

  &__active-btn {
    display: none;
    @include medium {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include medium {
      width: 100%;
      align-items: start;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
      opacity: 0;
      visibility: hidden;
      background-color: $third;
      padding: 12px;
      border-radius: 0 0 10px 10px;
      transition: all 0.3s;
    }
  }

  &.active &__content {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  &__link {
    display: flex;
    color: $light-text;
    font-size: 18px;
    cursor: pointer;
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
    @include medium {
      padding: 6px;
      &:not(:last-child) {
        margin: 0 0 12px 0;
      }
    }
  }

  &.active &__link {
    color: $secondary;
  }

  &__link-icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    display: none;
    @include medium {
      display: block;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
