@import '../../../assets/styles/mixins/breakpoints.scss';
@import '../../../assets/styles/variables.scss';

.searchAndSortBar {
  background: rgba(97, 127, 225, 0.1);
  border-radius: 15px;
  padding: 48px 24px;
  width: 100%;
  max-height: 320px;

  @include xsm {
    max-width: 800px;
  }

  &__sortTypes {
    display: flex;
    justify-content: space-between;

    @include medium {
      flex-direction: column;
    }

    &__active {
      font-weight: bold;
    }

    &__label {
      margin-left: 5px;
      display: flex;
      margin-right: 100px;

      @include medium {
        margin-top: 20px;
      }
    }

    &__title {
      margin-left: 5px;
    }
  }
}
