@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins/breakpoints';

.forum {
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;

  @include xsm {
    flex-direction: column;

    &__buttonForCreatingPost {
      display: flex;
      justify-content: center;
      margin: 20px 0;
      order: 1;
    }

    &__posts {
      justify-content: center;
      flex-direction: column;
      order: 2;

      &__loadingSpinner {
        display: flex;
        justify-content: center;
        margin-top: -20px;
      }

      &__seeMoreButton {
        display: flex;
        justify-content: center;
      }

      &__noPostsMessage {
        margin-top: 100px;
      }
    }
  }

  @include medium {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;

    &__buttonForCreatingPost {
      display: inline-block;
      margin: 0;
      order: 2;

      &__button {
        padding: 15px 10px;
        min-width: 200px;
      }
    }

    &__posts {
      width: 100%;
      margin: 0 30px;
      order: 1;
    }
  }
}
