@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins/breakpoints.scss';

.errorModal {
  &__content {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1.5;
    @include large {
      height: 270px;
    }
  }

  &__link {
    color: $secondary;
    text-decoration: underline;
    font-weight: 600;
  }
}
