@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins/breakpoints.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary;
  padding: 9px 0;
  z-index: 10;
  @include medium {
    padding: 20px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $primary;
    transform: translateX(100%);
    transition: all 0.3s;
    &.active {
      transform: translateX(0);
    }
    @include medium {
      flex-direction: row;
      position: relative;
      height: auto;
      width: auto;
      top: unset;
      right: unset;
      transform: none;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    @include medium {
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  &__link {
    color: $light-text;
    font-size: 18px;
    line-height: 1.5;
    transition: all 0.3s;
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
    @include medium {
      &:not(:last-child) {
        margin: 0 20px 0 0;
      }
      &--light {
        border-radius: 40px;
        padding: 15px 60px;
        border: solid 1px $light-background;
        background-color: transparent;
        &:hover {
          background-color: $secondary;
          border: solid 1px $secondary;
        }
      }
    }
    @include large {
      &:not(:last-child) {
        margin: 0 53px 0 0;
      }
      &:nth-child(2) {
        margin-right: 30px;
      }
    }
  }

  &__cross-btn {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    @include medium {
      display: none;
    }
  }

  &__cross-btn-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: $light-background;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $light-background;
      transition: all 0.3s;
    }
    &::before {
      top: -6px;
    }
    &::after {
      bottom: -6px;
    }
    &.active {
      background-color: transparent;
      &::before {
        top: 0;
        transform: rotate(45deg);
      }
      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
