@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins/breakpoints.scss';

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @include medium {
    width: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 420px;

    @include xsm {
      width: 290px;
    }

    @include medium {
      width: 300px;
    }

    @include large {
      width: 420px;
    }

    &__title {
      font-size: 50px;
      font-weight: 500;
    }
  }

  &__submit {
    margin-top: 30px;
  }

  &__apiError {
    margin-top: 10px;
    font-size: $error-font-size;
    color: $error;
  }
}

.textField {
  margin-top: 40px;
}
