@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins/breakpoints.scss';

.container {
  width: 100%;
  margin-bottom: 20px;

  @include medium {
    min-width: 150px;

    .post {
      padding: 25px;
    }
    .post__full {
      padding: 0;
    }

    .post__flex {
      align-items: flex-start;
    }

    .post__author-wrap-color {
      display: block;
      font-size: 18px;
    }

    .post__title {
      font-size: 18px;
    }

    // .post__bottom-comments {
    //   margin-left: 40px;
    // }
  }
}

.author-margin {
  margin-left: 5px;
}

.vote-btn {
  fill: #2a336e;
  transition: all 0.2s;

  &:hover {
    &.downvote-btn {
      fill: #ff7e40;
    }
    &.upvote-btn {
      fill: #0fa443;
    }
  }
}

.active-downvote {
  fill: #ff7e40;
}

.active-upvote {
  fill: #0fa443;
}

.button__upvotes {
  width: 30px;
  cursor: pointer;
}

.post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0px 8px 16px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  border: 1px solid $secondary;

  &__comment {
    border: 1px solid $blue-background;
    background-color: $blue-background;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: center;
  }

  &__flex-date {
    font-size: 14px;
    color: $secondary;
    font-style: normal;
    font-weight: normal;
  }

  &__author-center {
    display: flex;
    align-items: center;
  }

  &__author-wrap-color {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
    color: $secondary;

    a {
      color: inherit;
      font-weight: 600;
    }
  }

  &__info {
    padding-bottom: 25px;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    color: $dark-text;
  }

  &__text {
    font-size: 14px;
    line-height: 1.5;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 15px 0 10px 0;
  }

  &__seemore {
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid $secondary;
    color: $secondary;
  }

  &__bottom--flex {
    display: flex;
    align-items: center;
    gap: 15px;
    @include medium {
      gap: 40px;
    }
  }

  &__bottom--center {
    display: flex;
    align-items: center;
  }

  &__bottom-upvotes--padding {
    padding: 0 10px;
    color: $secondary;
  }

  &__bottom-comments {
    display: flex;
    align-items: center;
    gap: 30px;
    color: $secondary;
    &--padding {
      padding-left: 10px;
    }
  }

  &__bottom--flex div:last-child {
    margin-left: auto;
    display: flex;
    gap: 15px;
    @include medium {
      gap: 40px;
    }
  }

  &__full {
    padding: 0;
    border: none;
    box-shadow: none;

    .post__info {
      padding-top: 9px;
      @include medium {
        padding-top: 25px;
        padding-bottom: 40px;
      }
    }

    .post__title {
      font-size: 18px;
      @include medium {
        font-size: 24px;
      }
    }

    .post__text {
      display: block;
      margin-top: 16px;
      margin-bottom: 0;
      @include medium {
        font-size: 16px;
        margin-top: 24px;
      }
    }
  }
}
