//----------------------------------------------------/
// Variables
//----------------------------------------------------/

//Fonts
$base-font: 'Montserrat', sans-serif;

// Context colors
$primary: #617fe1 !default;
$secondary: #2a336e !default;

// Background colors
$light-background: #fff !default;

// Text colors
$light-text: #fff !default;
$dark-text: #000 !default;
